@font-face {
    font-family: 'TolyerNo1';
    src: url('../fonts/TolyerNo1-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #000000;
    color: #e0e0e0;
    font-family: 'Tolyer', sans-serif;
    text-transform: uppercase;
}

.navbar {
   background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid #ff6600;
    /* Dark orange */
}

.navbar-brand,
.nav-link {
    color: #e0e0e0 !important;
}

.container {
    max-width: 960px;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    /* Transparent effect */
    border: none;
}

.card-header {
    background-color: rgba(0, 0, 0, 0.1);
    /* Transparent effect */
    color: #ff6600;
    /* Dark orange */
    font-weight: bold;
}

.btn-primary {
    background-color: #ff6600;
    border: none;
}

.btn-primary:hover {
    background-color: #e65c00;
    /* Slightly darker orange */
}